<h3>Equation 2.3: Kans op klachtenvrije dagen</h3>
<%= render partial: 'form_complaintfree_days' %>

<h3>Equation 2.4: Kans op opengekraste vakjes, gegeven klachteloze vrije dagen</h3>
<%= render partial: 'form_checked_boxes' %>

<h3>Equation 3.1: Prijzengeld</h3>
<%= render partial: 'form_prize_value' %>

<h3>Equation 3.2: Verwachtings waarde voor 1 lot</h3>
<%= render partial: 'form_expected_value_ticket' %>

<h3>Equation 3.5: Verwacht verlies in één week</h3>
<%= render partial: 'form_weekly_value' %>

<h3>Equation 3.10a: Variantie lot </h3>
<%= render partial: 'form_variance_value_lottery' %>

<h3>Equation 3.10b: Variantie pechprijs lot</h3>
<%= render partial: 'form_variance_value_loser' %>

<h3>Equation 3.10: Variantie in één week</h3>
<%= render partial: 'form_weekly_variance' %>
